<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.puhui.app.dao.AppChangeCustomerDao">

	<select id="selectChangeCustomerMethod" parameterType="map" resultType="java.util.HashMap">
		SELECT
			ac.id,
			ac.customer_name AS name,
			ac.mobile AS mobile,
			ac.shop_name AS shopName,
			ac.shop_code AS shopCode,
			ac.sales_name AS salesName,
			ac.sales_no AS salesNo,
			ac.sales_mobile As salesMobile,
			date_format(ac.allo_time,'%Y-%m-%d') As allotTime,
			date_format(ac.create_time,'%Y-%m-%d') As createTime,
		IF(alr.state IS NULL , '未录件' , '录件中') AS status
		FROM app_customer AS ac

		LEFT JOIN app_lend_request alr ON ac.id = alr.app_customer_id

		WHERE (alr.state = 1 OR alr.state = 2 OR alr.state is NULL )
			<if test="name != null and name != ''">
				<![CDATA[AND ac.customer_name LIKE #{name} ]]>
			</if>
			<if test="mobile != null and mobile != ''">
				<![CDATA[AND ac.mobile = #{mobile, typeHandler=encryptTypeHandler} ]]>
			</if>
			<if test="idNo != null and idNo != ''">
				<![CDATA[AND ac.id_no = #{idNo, typeHandler=encryptTypeHandler} ]]>
			</if>
			<if test="salesName != null and salesName != ''">
				<![CDATA[AND ac.sales_name LIKE #{salesName} ]]>
			</if>
			<if test="salesMobile != null and salesMobile != ''">
				<![CDATA[AND ac.sales_mobile LIKE #{salesMobile} ]]>
			</if>
			<if test="salesNo != null and salesNo != ''">
				<![CDATA[AND ac.sales_no LIKE #{salesNo} ]]>
			</if>		
			<if test="staffCode != null and staffCode != ''">
				<![CDATA[AND ac.shop_code LIKE #{staffCode} ]]>
			</if>
		
			<if test="listSales !=null and listSales.size!=0">
			AND ac.sales_no in
			 <foreach collection="listSales" item="sales" index="index"
            	open="(" close=")" separator=",">
           		 #{sales}
        	</foreach>
			</if>
			ORDER BY ac.create_time DESC
	</select>

	<update id="updateBindingUserMethod" parameterType="map">
		UPDATE  app_customer ac
			SET ac.customer_service_manager_number = #{salesId},
			 ac.sales_name = #{name},
			 ac.sales_mobile = #{mobile},
			 ac.shop_name = #{shopName},
			 ac.sales_no = #{salesNo},
			 ac.shop_code = #{shopCode},
			 ac.district_code = #{districtCode},
			 ac.district_name = #{districtName},
			 ac.allo_time = now()
			where id in
			<foreach collection="ids" item="id" index="index"
            	open="(" close=")" separator=",">
           		 #{id}
        	</foreach>
	</update>

	<select id="findLogInfo" parameterType="map" resultType="hashMap">
		select id as id, customer_service_manager_number as oldStaffId from `app_customer`
		where id in
		<foreach collection="ids" item="id" index="index"
				 open="(" close=")" separator=",">
			#{id}
		</foreach>
	</select>
	
	<select id="selectAppCustomerMethod" parameterType="map" resultType="java.util.HashMap">
		SELECT
			
			ac.shop_name AS shopName,
			
			ac.sales_no AS salesNo,
			
			ac.shop_code AS shopCode
			

			FROM app_customer AS ac

				where id in
			<foreach collection="ids" item="id" index="index"
            	open="(" close=")" separator=",">
           		 #{id}
        	</foreach>
	</select>
</mapper> 
