<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.puhui.app.dao.AppCustomerMessageDao">

	<resultMap id="appCustomerMessageObj" type="appCustomerMessage">
		<id property="id" column="id"/>
		<result property="customerId" column="customer_id"/>
		<result property="appLendRequestId" column="app_lend_request_id"/>
		<result property="salesName" column="sales_name"/>
		<result property="salesPhone" column="sales_phone"/>
		<result property="detailType" column="message_type"/>
		<result property="context" column="context"/>
		<result property="isRead" column="is_read"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="sendStatus" column="send_status"/>
		<result property="appLendReqestId" column="app_lend_reqest_id"/>
	</resultMap>
	<insert id="insertCustomerMessage" parameterType="appCustomerMessage" useGeneratedKeys="true" keyProperty="id">
		insert into app_customer_message
		(customer_id,context,is_read,message_type,create_time,send_status,app_lend_request_id) 
		values
		(#{customerId},#{context},#{isRead},#{messageType},sysdate(),#{sendStatus},#{appLendRequestId})
	</insert>
</mapper> 
