<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.puhui.app.dao.AppInterfaceLogDao">
	<resultMap id="appInterfaceLogVo" type="com.puhui.app.vo.AppInterfaceLogVo">
		<id property="id" column="id"/>
		<result property="interfaceType" column="interface_type"/>
		<result property="interfaceTypeName" column="interface_type_name"/>
		<result property="requestParam" column="request_param"/>
		<result property="isSuccess" column="is_success"/>
		<result property="message" column="message"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>
	
	<!-- 插入接口日志表数据 -->
	<insert id="insertLog" parameterType="appInterfaceLogVo" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO app_interface_log (
			interface_type,
			interface_type_name,
			request_param,
			is_success,
			message,
			create_time,
			update_time
		)
		VALUES
			(#{interfaceType},
			#{interfaceTypeName},
			#{requestParam},
			#{isSuccess},
			#{message},
			now(),
			now())
	</insert>
	
</mapper> 
