<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.puhui.app.dao.AppLendNoticeDao">
	<resultMap id="appLendNoticeObj" type="com.puhui.app.po.AppLendNotice">
		<id property="id" column="id"/>
		<result property="noticeTitle" column="notice_title"/>
		<result property="noticeStatus" column="notice_status"/>
		<result property="noticeDepartment" column="notice_department"/>
		<result property="createTime" column="create_time"/>
		<result property="createUser" column="create_user"/>
		<result property="updateUser" column="update_user"/>
		<result property="noticeAbstract" column="notice_abstract"/>
		<result property="noticeContent" column="notice_content"/>
		<result property="updateTime" column="update_time"/>
		<result property="authorName" column="author_name"/>
	</resultMap>
	<insert id="addLendNotice">
		INSERT INTO app_lend_notice (notice_title, notice_status, notice_department,author_name, create_time, create_user, update_user, notice_abstract, notice_content, update_time)
		VALUES (#{noticeTitle}, #{noticeStatus}, #{noticeDepartment},#{authorName}, #{createTime}, #{createUser}, #{updateUser},
				#{noticeAbstract}, #{noticeContent}, #{updateTime});
	</insert>
	<delete id="delete">
		DELETE FROM app_lend_notice WHERE id = #{id}
	</delete>

	<!--<update id="saveOrUpdate"></update>-->
	<!--<delete id="delete"></delete>-->

	<select id="qryNoticeList" resultMap="appLendNoticeObj">
		SELECT * FROM app_lend_notice
		WHERE
		    1=1
			<if test="authorName != null and authorName != ''">
				AND author_name = #{authorName}
			</if>
			<if test="noticeStatus != null and noticeStatus != ''">
				AND notice_status = #{noticeStatus}
			</if>
			<if test="startDate != null and start != ''">
				<![CDATA[AND update_time >= str_to_date(#{startDate}, '%Y-%m-%d')]]>
			</if>
			<if test="endDate != null and endDate != ''">
				<![CDATA[AND update_time <= str_to_date(#{endDate}, '%Y-%m-%d')]]>
			</if>
		ORDER BY create_time DESC
	</select>

	<select id="qryNoticeCount" resultType="java.lang.Long">
		SELECT COUNT(*) FROM app_lend_notice
	</select>

	<select id="queryById" resultMap="appLendNoticeObj">
		SELECT *
		FROM app_lend_notice
		WHERE id = #{id};
	</select>
	<!--<select id="qryNoticeList" resultMap="appLendNoticeObj">-->
		<!--SELECT id FROM app_lend_notice ORDER BY create_time DESC-->
	<!--</select>-->
	<!--<select id="qryNoticeCount" resultType="java.lang.Long"></select>-->
	<!--<select id="queryById" resultType="com.puhui.app.po.AppLendNoticeice"></select>-->
</mapper>