<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.puhui.app.dao.AppLendTemplateDao">
	<resultMap id="appLendTemplateObj" type="appLendTemplate">
		<id property="id" column="id"/>
		<result property="templetType" column="templet_type"/>
		<result property="templetDesc" column="templet_desc"/>
		<result property="templetContent" column="templet_content"/>
		<result property="templetTitle" column="templet_title"/>
		<result property="createTime" column="create_time"/>
	</resultMap>
	
	<select id="getAppLendTemplateMethod" parameterType="string" resultMap="appLendTemplateObj">
		SELECT * FROM app_lend_template WHERE templet_type = #{templetType}
	</select>
	
</mapper> 
