<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.puhui.app.dao.AppPrizesNumberDao">

	<resultMap id="appPrizesNumberObj" type="appPrizesNumber">
		<id property="id" column="id"/>
		<result property="prizeType" column="prize_type"/>
		<result property="cardNumber" column="card_number"/>
		<result property="password" column="password"/>
		<result property="use" column="use"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<insert id="addAppPrizesNumber" parameterType="com.puhui.app.po.AppPrizesNumber" useGeneratedKeys="true" keyProperty="id">
		insert into app_prizes_number
		(prize_channel, prize_type, prize_number, create_time)
		values
		(#{prizeChannel}, #{prizeType}, #{prizeNumber},	now())
	</insert>

</mapper>