<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.puhui.app.dao.AppPrizesSecretDao">

	<resultMap id="appPrizesSecretObj" type="appPrizesSecret">
		<id property="id" column="id"/>
		<result property="prizeType" column="prize_type"/>
		<result property="cardNumber" column="card_number"/>
		<result property="password" column="password"/>
		<result property="use" column="use"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<select id="findList" resultMap="appPrizesSecretObj">
		SELECT * FROM app_prizes_secret WHERE 1 = 1
		<if test="prizeType != null and prizeType != ''">
			AND prize_type = #{prizeType}
		</if>
		<if test="use != null and use != ''">
			AND `use` = #{use}
		</if>
	</select>

	<insert id="addAppPrizesSecret" parameterType="com.puhui.app.po.AppPrizesSecret" useGeneratedKeys="true" keyProperty="id">
		insert into app_prizes_secret
		(prize_type, card_number, password, create_time, update_time)
		values
		<foreach collection="list" index="index" item="item" separator=",">
			(#{item.prizeType}, #{item.cardNumber}, #{item.password}, now(), now())
		</foreach>
	</insert>

</mapper>