<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.puhui.app.dao.AppUserToPromoteDao">
	<resultMap type="com.puhui.app.po.AppUserToPromote" id="appUserToPromoteObj">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="mobile" column="mobile"/>
		<result property="city" column="city"/>
		<result property="cityCode" column="city_code"/>
		<result property="branch" column="branch"/>
		<result property="branchCode" column="branch_code"/>
		<result property="salesName" column="sales_name"/>
		<result property="salesNo" column="sales_no"/>
		<result property="uid" column="uid"/>
		<result property="department" column="department"/>
		<result property="updateAllotTime" column="update_allot_time"/>
		<result property="idNo" column="id_no"/>
		<result property="amount" column="amount"/>
		<result property="productName" column="product_name"/>
		<result property="isSettle" column="is_settle"/>
		<result property="settleTime" column="settle_time"/>
		<result property="channel" column="channel"/>
		<result property="channelTwo" column="channel_two"/>
		<result property="shareGuidance" column="share_guidance"/>
		<result property="createTime" column="create_time"/>
	</resultMap>
	
	<select id="selectCustomerCluesMethod" parameterType="map" resultMap="appUserToPromoteObj">
		select 	autp.id AS id,
		autp.name AS name,
		autp.city AS city,
		autp.city_code AS cityCode,
		autp.mobile AS mobile,
		autp.department AS department,
		autp.branch AS branch,
		autp.sales_name AS salesName,
		autp.sales_no AS salesNo,
		ac.code_name AS channel,
		autp.channel As channelTwo,
		autp.share_guidance,
		autp.update_allot_time,
		autp.create_time
		from app_user_to_promote autp   
		LEFT JOIN app_channel ac ON autp.channel = ac.channel
		where 1=1
			<if test="radio == 1">
				<![CDATA[AND autp.sales_no is null]]>
			</if>
			<if test="name != null and name != ''">
				<![CDATA[AND autp.name LIKE #{name} ]]>
			</if>
			<if test="mobile != null and mobile != ''">
				<![CDATA[AND autp.mobile LIKE #{mobile} ]]>
			</if>
			<if test="salesName != null and salesName != ''">
				<![CDATA[AND autp.sales_name LIKE #{salesName} ]]>
			</if>
			<if test="salesNo != null and salesNo != ''">
				<![CDATA[AND autp.sales_no LIKE #{salesNo} ]]>
			</if>
			<if test="branchCode != null and branchCode != ''">
				<![CDATA[AND autp.branch_code LIKE #{branchCode} ]]>
			</if>
			<if test="channel != null and channel != ''">
				<![CDATA[AND autp.channel = #{channel} ]]>
			</if>
			
		ORDER BY autp.create_time DESC
	</select>

	<update id="updateBindingUserMethod" parameterType="map">
		update
		app_user_to_promote set
		sales_name = #{name},
		sales_no = #{salesNo},
		department = #{department},
		city = #{city},
		city_code = #{cityCode},
		branch = #{branch},
		branch_code = #{branchCode},
		update_allot_time =
		now()
		where id = #{id}
	</update>
	
	<select id="findCustomerCluesMethod" parameterType="java.lang.Long" resultMap="appUserToPromoteObj">
		select * from app_user_to_promote autp where autp.id =#{id,jdbcType=BIGINT}
	</select>
	
	<select id="findCustomerCluesMethodIdNo" parameterType="String" resultType="java.lang.Integer">
		select count(*) from app_user_to_promote autp where autp.id_no =#{idNo,jdbcType=VARCHAR}
	</select>
	
	<select id="findCustomerCluesMethodMobile" parameterType="String" resultType="java.lang.Integer">
		select count(*) from app_user_to_promote autp where autp.mobile =#{mobile,jdbcType=VARCHAR}
	</select>
	<insert id="insertAppUserToPromote" parameterType="com.puhui.app.po.AppUserToPromote" useGeneratedKeys="true" keyProperty="id">
		insert into app_user_to_promote 
		(name,mobile,city,city_code,branch,branch_code,department,sales_name,sales_no,uid,update_allot_time,create_time,update_time,id_no,amount,is_settle,settle_time,channel,province,channel_type,channel_two_type,product_name) 
		values 
		(#{name,jdbcType=VARCHAR},#{mobile,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR},#{cityCode,jdbcType=VARCHAR},
		#{branch,jdbcType=VARCHAR},#{branchCode,jdbcType=VARCHAR},
		#{department,jdbcType=VARCHAR},#{salesName,jdbcType=VARCHAR},
		#{salesNo,jdbcType=VARCHAR},#{uid,jdbcType=VARCHAR}
		,now(),now(),now(),
		#{idNo,jdbcType=VARCHAR},#{amount,jdbcType=DECIMAL},
		#{isSettle,jdbcType=BIT},#{settleTime,jdbcType=TIMESTAMP},
		#{channel,jdbcType=VARCHAR},#{province,jdbcType=VARCHAR},
		#{channelType,jdbcType=VARCHAR},#{channelTwoType,jdbcType=VARCHAR},
		#{productName,jdbcType=VARCHAR})
	</insert>
	
	<select id="findChannels" resultType="java.util.HashMap">
		SELECT ac.channel AS codeValue,ac.code_name AS codeName FROM app_channel ac
	</select>
	
	<select id="findChannel" parameterType="String" resultType="java.util.HashMap">
		SELECT ac.code_value AS codeValue,ac.code_name,ac.channel_two_name AS channelTwoName,ac.channel_two_code AS channelTwoCode FROM app_channel ac WHERE ac.channel = #{channel}
	</select>
</mapper> 
