<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.puhui.app.dao.AppVersionDao">


	<select id="findList" resultType="map">
		select "门店版" as typeName, id,version,client_type as clientType,
			CASE WHEN client_type=2 then "IOS"
			WHEN `client_type`=3 then "Android" else "其他" end as clientTypeName,
			memo,app, DATE_FORMAT(update_time, '%Y-%m-%d') as updateTime,DATE_FORMAT(create_time, '%Y-%m-%d') as createTime
			from app_user_version
		UNION ALL
		select "个人版" as typeName,id,version,client_type as clientType,
			CASE WHEN client_type=2 then "IOS"
			WHEN `client_type`=3 then "Android" else "其他" end as clientTypeName,
			memo,app,DATE_FORMAT(update_time, '%Y-%m-%d') as updateTime,DATE_FORMAT(create_time, '%Y-%m-%d') as createTime
			from app_customer_version
	</select>

	<update id="updateUser" parameterType="map">
		update
			app_user_version
		set
			version = #{version},
			memo = #{memo},
			app = #{app}
		where id = #{id}
	</update>

	<update id="updateCustomer" parameterType="map">
		update
			app_customer_version
		set
			version = #{version},
			memo = #{memo},
			app = #{app}
		where id = #{id}
	</update>

</mapper>