<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- author:liwang  time: 2015年7月21日  comment:app耗时分析表-->
<mapper namespace="com.puhui.app.dao.ConsumingAnalysisReportDao">
	<resultMap type="com.puhui.app.po.ConsumingAnalysisReport" id="consumingAnalysisReportObj">
		<result property="customerName" column="customer_name"/>
		<result property="salesName" column="sales_name"/>
		<result property="requestId" column="request_id"/>
		<result property="dataTotalTime" column="data_total_time"/>
	</resultMap>
	
	
	<!-- 通过开始时间和结束时间查询进件信息 -->
	<select id="queryLendRequest" parameterType="map" resultMap="consumingAnalysisReportObj">
		SELECT
			ac.customer_name,
			ac.sales_name,
			ar.id AS request_id,
			TIMESTAMPDIFF(
				SECOND ,
				ar.first_start_time,
				CASE WHEN ar.state = 1 THEN now() ELSE ar.end_time END <!--如果state=1就取当前时间否则取end_time  -->
			) as data_total_time
		FROM
			app_lend_request ar,
			app_customer ac
		WHERE
			ar.app_customer_id = ac.id
			AND ac.sales_no != '003578'
			<if test="startTime != null and startTime != ''">
				<![CDATA[AND ar.create_time >= str_to_date(#{startTime}, '%Y-%m-%d')]]>
			</if>
			<if test="endTime != null and endTime != ''">
				<![CDATA[AND ar.create_time <= str_to_date(#{endTime}, '%Y-%m-%d')]]>
			</if>
		ORDER BY ac.sales_no
	</select>
	
	<!-- 通过进件号查询所有填写信息及附件耗时 -->
	<select id="queryAnnexEntryTime" parameterType="map" resultType="java.util.HashMap">
		SELECT
			et.app_lend_request_id,
			et.entry_type,
			TIMESTAMPDIFF(
				SECOND,
				et.first_start_time,
				et.end_time
			) AS data_total_time
		FROM
			app_entry_time_info et
		<if test="lendRequestIds!=null">
			where et.app_lend_request_id in
			<foreach item="item" index="index" collection="lendRequestIds" 
                         open="(" separator="," close=")">
                        #{item}
           	</foreach>
		</if>
	</select>
	
	<!-- 通过进件号查询贷款需求 -->
	<select id="queryLoanDemand" parameterType="map" resultType="java.util.HashMap">
		SELECT
			app_lend_request_id,
			count
		FROM
			app_lend_loan_demand
		<if test="lendRequestIds!=null">
			WHERE app_lend_request_id in
			<foreach item="item" index="index" collection="lendRequestIds" 
                         open="(" separator="," close=")">
                        #{item}
           	</foreach>
		</if>
	</select>
</mapper>